.message_main{ 
    display: flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
}
.chat_container{ 
    display: flex;
    width:60%;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
}
.chat_main{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: start;
    height:80vh;
}

.chat_window{ 
    width: 100%;
   
    min-height: 55vh;
    display:flex;
    flex-direction:column;
   


}

.message_content{ 
    flex-wrap: wrap;
    max-width: 70%;
}

.conv_items{
    width:100%;
    max-height:50vh;
    
    background-color: white;
    display:flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: start;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
    padding:1rem 1rem;
    font-size:0.9rem; 
    
    overflow-y: auto;
    min-height: 0px;
    box-sizing: border-box;
}

