.burgermenu_main {
   
    position: fixed;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    
  }
  
  .resizeHandle {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: ew-resize;
    
  
  }


  .menu_ol{ 
    position: relative;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    margin-top:1rem;
    padding:5px 15px;
    box-sizing: border-box;
  }

 