/* IntegratePage.module.css */
.integratePage {
    position: relative;
    margin-top:10vh;
    min-height: 110vh;
    max-width: 1200px;
    margin-left:2rem;
    margin-right:2rem;
    
    
  }
  
  .integrationContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .integrationCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .integrationIcon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  
  .integrationTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .integrationDescription {
    text-align: center;
  }
  